/*

/* PROPS 

.card{
  border: 1px solid black;
  width: 350px;
  height: 250px;
  padding: 30px;
  border-radius: 25px;
  background-color: rgb(210, 178, 240);
  margin: 30px;

}
.card-main{
  display: flex;
  margin-left: 30px;
}
.card-info{
  margin-top: 20px;
}
.name{
  color: rgb(92, 8, 170);
}
h2{
  color: brown;

}
.heading{
  text-align: center;
  margin: 15px;
  color: brown;
} 

*/


